includes/*~
includes/#*
lib_libx/*~
lib_libx/#*
lib_libx/*.o
lib_ncurse/*~
lib_ncurse/#*
lib_ncurse/*.o
lib_opengl_2D/*~
lib_opengl_2D/#*
lib_opengl_2D/*.*
lib_opengl_ISO/*~
lib_opengl_ISO/#*
lib_opengl_ISO/*.o
logs/*.log
src/*~
src/#*
src/*.o
*~
#*
example
nibbler
